body    {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
}

header    {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

a:link, a:visited  {
  color: white;
  text-decoration: none;
}

#wrapper  {
  max-width: 960px;
  margin: 0 auto;
}

.container-home  {
  display: flex;
  flex-direction: row;
}

.container-work {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
}

.container-contact  {
  padding-left: 20%;
  padding-right: 20%;
}

.container-thankyou  {
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

div   {
  text-align: center;
}

footer    {
  width: 100%;
}

h1        {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  padding-bottom: 10px;
}

p         {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.gradient-home   {
  background-color: midnightblue;
  min-height: 100vh;
  /* will be "on top", if browser supports it */
  background-image: linear-gradient(midnightblue, crimson);

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: midnightblue;
  background: linear-gradient(midnightblue, crimson);
}

.image-scale {
  height: auto;
  max-width: 100px;
}

.column   {
  width: 33%;
  border-right-width: thin;
  border-right-color: white;
  border-right-style: solid;
  padding: 20px;
}

.column-norule   {
  width: 33%;
  padding: 20px;
}

.work-thumbs    {
  padding: 20px;
}

.social {
  float: center;
}

#form-name    {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: midnightblue;
  text-align: center;
  width: 450px;
  height: 50px;
  border-width: 0.5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: none;
}

#form-email   {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: midnightblue;
  text-align: center;
  width: 450px;
  height: 50px;
  border-width: 0.5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: none;
}

#form-message {
  width: 450px;
  height: 150px;
  margin: auto;
  border-radius: 2px;
  border-color: white;
  border-width: 0.5px;
  border-style: solid;
  background-color: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: midnightblue;
  text-align: center;
}

#form-button  {
  width: 120px;
  height: 40px;
  border-radius: 2px;
  border-color: white;
  border-width: 0.5px;
  border-style: solid;
  background-color: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
}


@media (max-width: 440px) {
  body  {
    font-size: 2rem;
  }

  section   {
    position: relative;
    width: 100%;
  }
