body    {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
}

header    {
  margin: auto;
}

.container-home  {
  display: flex;
  flex-direction: row;
}

.container-work {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-right: 20%;
}

div   {
  text-align: center;
  padding: 20px;
}

footer    {
  width: 100%;
}

p         {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 28px;
}

.gradient-home   {
  background-color: midnightblue;
  min-height: 100vh;
  /* will be "on top", if browser supports it */
  background-image: linear-gradient(midnightblue, crimson);

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: midnightblue;
  background: linear-gradient(midnightblue, crimson);
}

#image50 {
	width: 50%;  height: auto;
}

.column   {
  width: 33%;
  border-right-width: thin;
  border-right-color: white;
  border-right-style: solid;
}

.column-norule   {
  width: 33%;
}

.social {
  float: center;
}

.box  {
  width: 150px;
  height: 150px;
  margin: 20px;
  border-radius: 8px;
  border-color: white;
  border-width: 0.5px;
  border-style: solid;
}


@media (max-width: 440px) {
  body  {
    font-size: 2rem;
  }

  section   {
    position: relative;
    width: 100%;
  }
